@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: auto;
    background-image: url('images/pexels-jonathan-cooper-9715702.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header, footer, main {
   border: 4px solid red;
}

section {
    border: 4px solid lime;
}

.gashi {
    display: block;
    border: 4px solid orange;
    padding: 10px;
}
/*
.header-img {
    width: 30%;
    height: auto;
}

.header-img {
    width: 30%;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: -100px; 
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

header h1 {
    display: flex;
}

.header {
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px;
}

.links {
    float: right;
}
*/
